body{
    
    margin: 1%;
    margin-top: 1%;
    background-color: darkorange;
}

head {
    background-color: darkorchid;
}
main {
    background-color: darkorchid;
    border-radius: 20px;
}



.titel {
    font-size: 90px;
    text-align: center;
    margin-top: 70px;
    font-family: cursive;
    color: darkorange;
}

hr {
    border: none;
    height: 3px;
    color: black;
    background-color: darkorange;
}

h2{
    color: darkorange;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 35px;
    font-family: cursive;   
}

p{
    color: darkorange;
    font-family: cursive;
    margin-left: 20px;
}

body{
    color: darkorange;
}