


body{
    
    margin: 1%;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
}

head {
    background-color: rgb(234, 237, 199);
}
main {
    background-color: rgb(235, 231, 221);
    border-radius: 20px;
}

p{
    font-size: 110%;
    color: black;
}

.titel {
    font-size: 90px;
    text-align: center;
    margin-top: 70px;
    font-family: cursive;
}

hr {
    border: none;
    height: 3px;
    color: black;
    background-color: rgb(0, 0, 0);
}

h2{
    margin-top: 35px;
    margin-left: 30px;
    font-size: 35px;
    font-family: cursive;   
}

p{
    font-family: cursive;
    margin-left: 20px;
}

body{
    margin-top: -57px ;
    color: rgb(0, 0, 0);
}

img{
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 20px;
}

.Källor{
    text-align: center;

}

.links{
    text-align: center;
    margin-bottom: 50px;
}